@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F9FAFC;
}

.no-sweat {
    font-family: 'Shadows Into Light', cursive;
    font-size: 6.4rem;
    font-weight: 400;
    color: #118AB2;
}

.nav-link-white {
    color: #F9FAFC;
}

.a-right {
    text-align: right;
    text-decoration: none;
}

.pink {
    color: #f931a0b3;
}

.green {
    background-color: #11c697;
}

.orange {
    color: #f4941d;
}

.tall {
    height: auto;
} 

.no-border {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.post-image {
    margin: 10px 0;
    height: 300px;
    width: auto;
}

.author-highlight {
    text-transform: uppercase;
    position: relative;
    background-color: #ee4ba66b;
}

.post-link {
    text-decoration: none;
    color: #445261;
}


.post-link:hover,
.page-link {
    color: #f931a0b3;
}

.post-title {
    color: #445261;
}

.left-col, .right-col {
    max-width: 5%;
}

.post-col {
    width: 500px;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
} */

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-border {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f931a0b3;
    background: transparent;
    border: none;
}