{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-6 my-2">
        <div class="card-body">
            {% if posted %}
            <div class="alert alert-success" role="alert">
                You've successfully made a post!
            </div>
            {% else %}
            <h3>Add an entry:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="POST" style="margin-top: 1.3em;" enctype='multipart/form-data'>
                {{ post_form | crispy }}
                {% csrf_token %}

                <button type="submit" class="btn-main">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}