{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="my-3 justify-content-center">
                <div>
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="post-image rounded mx-auto d-block"
                        src="https://images.pexels.com/photos/221247/pexels-photo-221247.jpeg">
                    {% else %}
                    <img class="post-image rounded mx-auto d-block" src=" {{ post.featured_image.url }} ">
                    {% endif %}
                </div>
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
                <p class="author-highlight text-muted">{{ post.author }} &#9679; {{ post.created_on }}</p>
                {% if post.author == user %}
                <div class="mt-1">
                    <a class="btn-post btn-sm btn-main" href="{{ 'update_post' }}">Edit</a>
                    <a class="btn-post btn-sm btn btn-danger" href="{{ 'delete_post' }}">Delete</a>
                </div>
                {% endif %}
                <div class="mt-3">
                    {{ post.content | safe }}
                </div>
                <div>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <span class="card-text text-muted h6"> {{ post.number_of_likes }}</span>
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-border"><i
                                class="pink fas fa-heart"></i></button>
                        {% else %}
                        <span class="card-text text-muted h6"> {{ post.number_of_likes }}</span>
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-border"><i
                                class="pink far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="card-text text-muted h6"> {{ post.number_of_likes }} <i
                            class="orange fa-regular fa-heart"></i></span>
                    {% endif %}
                    <span class="card-text text-muted h6">{{ post.comments.count }} &nbsp;&nbsp;<i
                            class="blue fas fa-comment"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="my-3 justify-content-center">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="pink font-weight-bold">
                        {{ comment.name }}
                        {% if comment.name == user.username %}
                        <span class="mt-1">
                            <a class="btn-post btn-sm btn-main" href="{% url 'update_comment' post.slug comment.id %}">Edit</a>
                            <a class="btn-post btn-sm btn btn-danger" href="{% url 'delete_comment' post.slug comment.id %}">Delete</a>
                        </span>
                        {% endif %}
                        <span class="text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> 
                        <span class="pink">wrote:</span>
                    </p>
                    {{ comment.body }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 no-border my-3 mt-3 mx-auto">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    You've successfully added a comment.
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: <span class="blue">{{ user.username }}</span></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}                    
                    <p class="mt-1"><button type="submit" class="btn-main">Submit</button></p>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}