{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-6 my-2">
        <div class="card-body">
            {% if posted %}
            <div class="alert alert-success" role="alert">
                Your post has been updated.
            </div>
            {% else %}

            <form method="POST" enctype='multipart/form-data'>
                {{ update_form | crispy }}
                {% csrf_token %}

                <p class="mt-1"><button class="btn-main">Update</button></p>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}